{% extends 'job_app/index.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<h1 class="text-center">About</h1>
<p> 
99 Jobs is Zambia's #1 job website. We connect companies with hundreds of qualified job seekers both locally and internationally. We at 99 Jobs believe-in and practice 5 core values which are Integrity, Compassion, Community, Hard work, and Innovation. Through these guiding values our team provides business value to clients across the nation, consistently allowing teams to fill vacancies with candidates who are the best fit for the advertised roles.
</p>
<br>
<ul>
    <li>
Integrity: In our everday professional lives we are faced with several trying circumstances that test our ethical fabric. The world of cyberspace poses various challenges that compromise the integrity of content publishers every day. For instance, the security of personal data is constantly under threat from unscrupulous market players who are willing to share this data for a few silver coins. When organisations turn users into the product it is ordinary people like you and me who run the risks of suffering cyberattacks and other forms of abuse. It is for these reasons that integrity is of the utmost importance to our team at 99 Jobs. We do not share your data with any third parties without your concent however, we are bound by the laws of Zambia and if a court requests for data we are obliged to respond in an appropriate manner. We believe in equal employments opportunity for all people regardless of race, age, gender, or religion.
    </li>
    <br>
    <li>
        Compassion: As human beings we have numerous needs related to physiology, safety, love and belonging, esteem, and self-actualisation. At our core we simply long to do well for ourselves and our loved ones and then have a little extra left over for savings and a little harmless fun. Considering that resources are of a limited nature the job market is highly competitive. This darwinian environment leads to a struggle for the few employment opportunities available and as such it is easy to take advantage of cash-strapped job seekers. Our role is to seek the best outcomes for families from every background. 99 Jobs strives to focus its efforts on the humanity of all stakeholders of the business. We frown upon corrupt practices such as bribery and nepotism, while we encourage positive behaviors such as life-long education, community engagement, and youth empowerment. 
    </li>
    <br>
    <li>
        Community: 
    </li>
    <br>
    <li>
        Hard work:
    </li>
    <br>
    <li>
        Innovation:
    </li>
</ul>
{% endblock content %}