{% extends 'job_app/site_base.html' %}

{% block title %}
{% endblock title %}

{% block content %}


<br>
<div class="card">
  <div class="card-header">
    About
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        Tumpe is a website that connects employers with suitably qualified candidates. Whether you want to post a job advertisment, apply for a job, submit your resume, or recruit new talent, Tumpe will address your needs.
     
            
    </blockquote>
  </div>
</div>
<br>

<div class="card">
  <div class="card-header">
    Frequently Asked Questions
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
       <ul>
        <li> <b>How do I post a job or an advertisment?</b>&nbsp;
If you wish to post a job, publish an advert, etc kindly <a href="{% url 'contact' %}">contact</a> our team. We will be more that glad to assist you. Also, don't forget to read our <a href="#">terms and conditions</a>.
</li>
<br>
<br>
<li>
<b>How do I submit my Curriculum Vitae?</b>&nbsp;
If you are a job seeker you are encouranged to share your documents with us so that you are added to our database; a pool of professional profiles that we share with prospective employers. You can <a href="{% url 'contact' %}">email</a> your Curriculum Vitae and we will contact you ASAP.
</li>
    </blockquote>
  </div>
</div>


{% endblock content %}