{% extends 'job_app/index.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<h1 class="text-center">About</h1>
<p> 
99 Jobs is Zambia's #1 job website. We connect companies with hundreds of qualified job seekers throughout the country. We at 99 Jobs believe-in and practice 5 core values which are Integrity, Compassion, Community, Hard work, and Innovation. Through practicing these values on a daily basis our team provides values to clients across the nation consistently allowing teams to fill vacancies with people who are the best fit for advertised roles.
</p>
<br>
<ul>
    <li>
Integrity: In our everday duties we are faced with many trying circumstances that test our ethical fabric. The world of cyberspace poses various challenges that compromise the integrity of content publishers every day. For instance, the security of personal data has come under threat by unscrupulous market players who are willing to sell this data in dark corners of the internet. When organisations behave irresponsibly it is the common man who suffers the most and it is for this reason that integrity is very importance to the team at 99 Jobs. We do not share your data with any third parties without your concent however we are bound by the laws of Zambia and if a national court request for data in relation to an exercise such as a criminal investigation we are obliged to respond to such a request within the dictates of the law. We believe in equal employments opportunity for all people regardless of race, age, gender, religion, or soccer team lol.
    </li>
    <br>
    <li>
        Compassion: 
    </li>
    <br>
    <li>
        Community: 
    </li>
    <br>
    <li>
        Hard work:
    </li>
    <br>
    <li>
        Innovation:
    </li>
</ul>
{% endblock content %}