{% extends 'job_app/site_base.html' %}

{% block title %}
{% endblock title %}

{% block content %}


<br>

<div class="card">
    <div class="card-header">
      Contact
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
 <p>Thank you for taking an interest in Tumpe! Please use the contact details below to get in touch with us.</p>
 <p>Post a job: <a href = "mailto: post@tumpetech.com">post@tumpetech.com</a></p>
 <p>Advertising enquiries: <a href = "mailto: advertise@tumpetech.com">advertise@tumpetech.com</a></p>
 <p>Other enquiries: <a href = "mailto: info@tumpetech.com">info@tumpetech.com</a></p>
 <p>Phone: <a href="tel:+260950003942">+260950003942</a></p>


      </blockquote>
    </div>
  </div>

{% endblock content %}