{% extends 'job_app/site_base.html' %}

{% block title %}
{% endblock title %}

{% block content %}


<br>
<div class="w-100 p-3">
<div class="card">
    <div class="card-header">
      Contact
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
 <p>We're here to help! If you have any questions or concerns about our job board site, please feel free to contact us using the following information:</p>

  <p>Customer Support:</p>
  <p><b>Email:</b> <a href = "mailto: info@tumpetech.com">info@tumpetech.com</a></p>
  <p><b>Phone / WhatsApp:</b> <a href="tel:+260950003942">+260950003942</a></p>
  
  <p><b>Mailing Address:</b><br>
  Tumpe Tech<br>
  Ibex Hill,<br>
  Lusaka, Zambia,<br>
10101.</p>
  
  <p>We strive to respond to all customer inquiries within 24-48 hours. For urgent inquiries, we recommend contacting us via phone or chat support during our business hours, which are Monday-Friday from 8am to 5pm GMT+2.</p>
  
  <p>Thank you for choosing our job board site for your job search needs!</p>



      </blockquote>
    </div>
  </div>
</div>
{% endblock content %}