{% extends 'job_app/site_base.html' %}

{% block title %}
Contact us
{% endblock title %}

{% block content %}

<br>
<div class="w-100 p-3">
<div class="card">
    <div class="card-header">
      Contact us
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
 <p>We're here to help! If you have any questions or concerns, please feel free to contact us using one of the methods below:</p>


  <p><b>Email:</b> <a href = "mailto: info@tumpetech.com">info@zizojobs.com</a></p>

  <p><b>Mobile:</b> <a href = "tel: +260966293079">Contact Us</a></p>

  <p><b>TikTok</b> <a href = "https://www.tiktok.com/@zizo.jobs?_r=1&_t=ZM-91zn0RqPeii">Visit Zizo's TikTok</a></p>
  


  <p>We strive to respond to all customer inquiries within 24-48 hours. For urgent inquiries, we recommend contacting us via phone or chat support during our business hours, which are Monday-Friday from 8am to 5pm CAT.</p>
  
  <p>Thank you for choosing our job board for your employment needs!</p>



      </blockquote>
    </div>
  </div>
</div>
{% endblock content %}