{% extends 'job_app/footer_only_no_logo_base.html' %}

{% block content %}
<center>

  {% if results %}
  <ul>
  {% for result in results %}
      <li>
          <h2>{{ result.job_title }}</h2>
          <p>{{ result.organisation }}</p>
      </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No results found</p>
{% endif %}


    <!-- begin bottom pagination -->
    {% if is_paginated %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?query={{ query|urlencode }}&page=1">&laquo; first</a>
            <a href="?query={{ query|urlencode }}&page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
            <a href="?query={{ query|urlencode }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?query={{ query|urlencode }}&page={{ paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
      <br>
    {% endif %}
    <!-- end bottom pagination -->


</center>

{% endblock content %}
