{% extends 'job_app/site_base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<div class="w-100 p-3">
<div class="card">
    <div class="card-header">
      Disclaimer
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 lead ">
        Please note that the job listings and information provided on this website are sourced from various employers and third-party websites. 
        We do not guarantee the accuracy, completeness, reliability, suitability, or availability of any job posting or information presented on this website. 
        Additionally, we do not endorse any employer or job opportunity listed on this website, and we are not responsible for any actions or decisions made by 
        users of this website based on the information provided. Users are advised to exercise caution and conduct their own research before applying to or 
        accepting any job opportunity.     
      </blockquote>
    </div>
  </div>
</div>

{% endblock content %}