{% extends 'job_app/index.html' %}

{% block title %}
{% endblock title %}

{% block content %}
{% load static %}

<!-- begin top pagination -->
<h1 id="all_jobs" class="text-center">All Jobs</h1>
<div class="pagination">
  {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a> &nbsp;
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
  {% endif %}

  <span class="current">
    &nbsp;   Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
  </span>

  {% if page_obj.has_next %}
  &nbsp; <a href="?page={{ page_obj.next_page_number }}">next</a>&nbsp;
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
  {% endif %}
</span>
</div>
<!--end top pagination-->

<!-- begin list template -->
<br>
  {% for object in page_obj %}

<div class="list-group">
    <a href="{% url 'job_detail' slug=object.slug %}" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <small>Posted {{object.get_x_days_ago}} days ago.</small> 
        <h5 class="mb-1"> {{object.job_title}}</h5> 
        
        

        <small><b>Date posted:</b> {{object.post_date}}</small>
      </div>
      <p class="mb-1"><b>Company:</b> {{object.company}}</p>
      <small><b>Location:</b> {{object.location}}</small> 

      <br>
        {% if object.is_closed  %}
          <small><b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-danger">Closed</span></small>
        {% else %}
              
                {% if object.closing_soon  %}
                <small><b>Closing date:</b> <mark>{{object.closing_date}}</mark> <span class="badge text-bg-warning">Closing soon</span></small>
                {% else %}
                <small><b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-success">Open</span></small>
                {% endif %}
              </div>
          {% endif %}
    </a>
 <!-- end list template -->

<hr>
{% empty %}

{% load static %}
<p class="text-center">Oops...something seems to have gone wrong...</p> <!-- No records in DB -->
<br>
<div class="text-center" class="img-fluid" alt="Responsive image">
  <img src="{% static 'job_app/images/no_entries.png' %}" alt="Error message" width="200" height="200">
</div>

{% endfor %}

<!-- begin bottom pagination -->

<p class="text-center">
<div class="pagination">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a> &nbsp;
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        &nbsp;  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      &nbsp; <a href="?page={{ page_obj.next_page_number }}">next</a>&nbsp;
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
<!-- end bottom pagination -->

<br>

{% endblock content %}



