{% extends 'job_app/detail_base.html' %}

{% block title %}
{% endblock title %}

{% block content %}


<H1 class="text-center"><b></b> {{ object.job_title }}</H1>
<p><b>Company: </b>{{ object.company }}</p>
<p><b>Date posted: </b>{{ object.post_date }}</p>

{% if object.is_closed  %}
<small><b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-danger">Closed</span></small>

{% else %}
    
      {% if object.closing_soon  %}
      <small><b>Closing date:</b> <mark>{{object.closing_date}}</mark> <span class="badge text-bg-warning">Closing soon</span></small>
      {% else %}
      <small><b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-success">Open</span></small>
      {% endif %}

{% endif %}

<p><b>Location: </b>{{ object.location }}</p>
<p><b>Details: </b>{{ object.details }}</p>

{% if object.is_closed  %}
<p class="text-center"> <button type="button" class="btn btn-outline-danger">Expired</button> </p>



{% else %}

        {% if object.closing_soon  %}
        <p class="text-center"> <button type="button" class="btn btn-outline-warning">Apply on company site</button> </p>
        {% else %}
        <p class="text-center"> <button type="button" class="btn btn-outline-success">Apply on company site</button> </p>
        {% endif %}
    {% endif %}
<br>



{% endblock content %}