{% extends 'job_app/detail_base.html' %}

{% block title %}
<title>{{ object.job_title }} | {{ object.organisation }}</title>
{% endblock title %}

{% block content %}


<H1 class="text-center"> {{ object.job_title }}</H1>
<p><b>Employment type:</b> {{ object.get_employment_type_display }}</p>
<p><b>Date posted:</b> {{ object.post_date }}</p>
<p><b>Location:</b> {{ object.get_location_display }}</p>
<p><b>Country:</b> {{ object.get_country_display }}</p>
<p><b>Organisation:</b> {{ object.organisation }}</p>


{% if object.is_closed  %}
<p><b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-danger">Closed</span></p>

{% else %}
    
      {% if object.closing_soon  %}
      <p><b>Closing date:</b> <mark>{{object.closing_date}}</mark> <span class="badge text-bg-warning">Closing soon</span></p>
      {% else %}
      <p><b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-success">Available</span></p>
      {% endif %}

{% endif %}
<br>
{{ object.details|safe}}
  
  <!-- Copy Link Script -->

  
  <div class="d-flex justify-content-center">
    <button class="btn btn-outline-success" id="copyLinkBtn">Copy link

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
          </svg>

    </button>
  </div>
  
  <script>
    const copyLinkBtn = document.querySelector('#copyLinkBtn');
    const shareUrl = window.location.href;
  
    copyLinkBtn.addEventListener('click', () => {
      navigator.clipboard.writeText(shareUrl);
      alert('Link copied to clipboard!');
    });
  </script>
</div>
  
<!--end copy link -->

<br>


{% endblock content %}