{% extends 'job_app/detail_base.html' %}
{% load static %}
{% block title %}
{% endblock title %}

{% block content %}


<H1 class="text-center"> {{ object.job_title }}</H1>
<p><b>Employment type:</b> {{ object.get_employment_type_display }}</p>
<p><b>Date posted:</b> {{ object.post_date }}</p>


{% if object.is_closed  %}
<p><b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-danger">Closed</span></p>

{% else %}
    
      {% if object.closing_soon  %}
      <p><b>Closing date:</b> <mark>{{object.closing_date}}</mark> <span class="badge text-bg-warning">Closing soon</span></p>
      {% else %}
      <p><b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-success">Available</span></p>
      {% endif %}

{% endif %}
<br>
{{ object.details|safe}}
  
  <!-- Copy Link Script -->

  
  <div class="d-flex justify-content-center">
    <button class="btn btn-outline-success" id="copyLinkBtn">Copy link

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
          </svg>

    </button>
  </div>
  
  <script>
    const copyLinkBtn = document.querySelector('#copyLinkBtn');
    const shareUrl = window.location.href;
  
    copyLinkBtn.addEventListener('click', () => {
      navigator.clipboard.writeText(shareUrl);
      alert('Link copied to clipboard!');
    });
  </script>
</div>
  
<!--end copy link -->

  
<!-- Report Job Script -->

<div class="text-center">
  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#reportJobModal">
    Report Job
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
      </svg>

  </button>
</div>

<div class="modal fade" id="reportJobModal" tabindex="-1" aria-labelledby="reportJobModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportJobModalLabel">Report This Job</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please select a reason for reporting this job:</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reportReason" id="reportReason1" value="spam">
          <label class="form-check-label" for="reportReason1">
            Spam
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reportReason" id="reportReason2" value="inappropriate">
          <label class="form-check-label" for="reportReason2">
            Inappropriate Content
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reportReason" id="reportReason3" value="other">
          <label class="form-check-label" for="reportReason3">
            Other
          </label>
        </div>
        <div class="mb-3">
          <label for="reportDescription" class="form-label">Description (optional)</label>
          <textarea class="form-control" id="reportDescription" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Report</button>
      </div>
    </div>
  </div>
</div>

<!-- report job-->

<br>


{% endblock content %}