{% extends 'job_app/footer_only_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Log in</title>
{% endblock title %}

{% block content %}

<div class="content-section d-flex flex-column justfy-content-center align-items-center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group ">
            <legend class="border-bottom mb-4 text-center" >Log in to see jobs</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group d-flex flex-column justfy-content-center align-items-center">
            <button class="btn btn-outline-success" type="submit">Log in</button>
            <br>
        </div>
    </form>
    <div class="border-top pt-3 text-center">
        <small>
            <a class="ml-2" href="{% url 'password_reset' %}">Forgot password?</a>
        </small>
        <br>
        <br>
        <small class="text-muted">Need an account?
            <a class="ml-2" href="{% url 'register' %}">Sign up</a>
        </small>
    </div>
</div>
<br>
{% endblock content %}