{% extends 'job_app/detail_base.html' %}


{% block title %}
{% endblock title %}

{% block content %}
<h1 class="text-center">Career Exploration</h1>

<p>Exploring different career paths can help you discover new opportunities and find a career that aligns with your interests and skills. Here are some ways to explore different career paths:</p>

<ul>

<li>Job shadowing: Job shadowing involves spending a day or more with someone who works in a career that interests you. This can provide valuable insights into what the job is really like.</li>

<li>Internships: Internships allow you to gain hands-on experience in a particular field while also building your resume and networking with professionals.</li>

<li>Informational interviews: Informational interviews involve speaking with professionals in a career field to learn more about their experiences and the requirements</li>

<li>Research: Use online resources to research different career paths and industries. This can help you gain a better understanding of the skills, education, and experience required for each career.</li>

<li>Volunteer: Volunteering can provide opportunities to gain experience in a particular field while also giving back to your community.</li>

</ul>
{% endblock content %}