{% extends 'job_app/career_advise_base.html' %}


{% block title %}
Job Market Trends
{% endblock title %}

{% block content %}
{% load static %}
<h1 class="text-center">Job Market Trends</h1>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-block mx-auto">
            <img src="{% static 'job_app/images/trends.jpg' %}" alt="Man reading business news paper." class="img-fluid">
        </div>
    </div>
</div>
<br>

<p>Understanding job market trends is essential for making informed decisions about your career. By staying up-to-date with the latest employment projections, you can identify career paths that are in high demand and likely to offer good job prospects. Here are some ways to stay informed about job market trends:</p>

<ul>
<li><b>Research industry reports:</b> Many organizations release annual reports on job market trends in different industries. These reports can provide valuable insights into which careers are growing and which are shrinking.</li>

<li><b>Follow news outlets:</b> Keep up with the latest news in your industry or field by following reputable news outlets. This can help you stay informed about emerging trends and changes in the job market.</li>

<li><b>Network with professionals:</b> Connecting with professionals in your field can be a great way to learn about job market trends. Attend industry events, join professional organizations, and reach out to people in your network to stay informed.</li>
</ul>
{% endblock content %}