{% extends 'job_app/career_advise_base.html' %}


{% block title %}
{% endblock title %}

{% block content %}
{% load static %}
<h1 class="text-center">Job Interviewing Skills</h1>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-block mx-auto">
            <img src="{% static 'job_app/images/interview.jpg' %}" alt="Three ladies sitting in job interview." class="img-fluid">
        </div>
    </div>
</div>
<br>

<p>Strong interviewing skills are essential for landing job offers. Here are some tips to help you prepare for job interviews:</p>

<ul>
<li><b>Research the company:</b> Research the company you're interviewing with to gain a better understanding of their mission, values, and culture.</li>

<li><b>Practice answering common interview questions:</b> Practice answering common interview questions, such as "Tell me about yourself" and "What are your strengths and weaknesses?"</li>

<li><b>Dress appropriately:</b> Dress professionally for your interview to make a positive first impression.</li>

<li><b>Be on time:</b> Arrive on time or a few minutes early for your interview.</li>

<li><b>Follow up:</b> Send a thank-you note or email after your interview to express your appreciation for the opportunity.</li>
</ul>
{% endblock content %}