{% extends 'job_app/career_advise_base.html' %}


{% block title %}
{% endblock title %}

{% block content %}
{% load static %}
<h1 class="text-center">Networking</h1>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-block mx-auto">
            <img src="{% static 'job_app/images/networking.jpg' %}" alt="Workmates at a team building event." class="img-fluid">
        </div>
    </div>
</div>
<br>

<p>Networking is a critical aspect of building a successful career. By building professional relationships, you can increase your chances of finding job opportunities, receiving mentorship, and advancing your career. Here are some tips for effective networking:</p>

<ul>
<li><b>Attend events:</b> Attend industry events, job fairs, and other networking opportunities to meet professionals in your field.</li>

<li><b>Join professional organizations:</b> Joining professional organizations can provide opportunities to connect with others in your industry and gain access to career resources.</li>

<li><b>Connect with alumni:</b> Reach out to alumni from your college or university who work in your field to build professional relationships.</li>

<li><b>Use social media:</b> LinkedIn and other social media platforms can be powerful tools for networking. Use these platforms to connect with professionals in your field and stay up-to-date with industry news.</li>
</ul>
{% endblock content %}