{% extends 'job_app/career_advise_base.html' %}


{% block title %}
Negotiation and Salary
{% endblock title %}

{% block content %}
{% load static %}
<h1 class="text-center">Negotiation and Salary</h1>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-block mx-auto">
            <img src="{% static 'job_app/images/salary.jpg' %}" alt="Gentleman staring at his debit card while using a laptop." class="img-fluid">
        </div>
    </div>
</div>
<br>

<p>Negotiating salary and benefits can be intimidating, but it's an essential aspect of building a successful career. Here are some tips to help you negotiate effectively:</p>

<ul>
<li><b>Research market rates:</b> Research the average salary range for your position and industry to gain a better understanding of what you should be earning.</li>

<li><b>Consider non-salary benefits:</b> Don't forget to consider non-salary benefits, such as health insurance, retirement plans, and vacation time, when negotiating your compensation package.</li>

<li><b>Practice your pitch:</b> Practice your pitch before your negotiation so that you feel confident and prepared.</li>

<li><b>Be open to compromise:</b> Negotiation often involves compromise, so be prepared to consider alternative solutions that can benefit both you and your employer.</li>
</ul>
{% endblock content %}