{% extends 'job_app/career_advise_base.html' %}


{% block title %}
{% endblock title %}

{% block content %}
<h1 class="text-center">Self Assessment</h1>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-block mx-auto">
            <img src="{% static 'job_app/images/thinking.jpg' %}" alt="Lady in deep thought." class="img-fluid">
        </div>
    </div>
</div>
<br>

<P>Self-assessment is a crucial first step when exploring career options. By taking the time to evaluate your interests, skills, values, and personality traits, you can gain a better understanding of what career paths might be a good fit for you. Here are some tips to help you get started:</p>

<ul>
<li><b>Reflect on your interests:</b> What do you enjoy doing? What hobbies or activities do you find fulfilling? Consider how you could turn those interests into a career.</li>

<li><b>Evaluate your skills:</b> What are you good at? What skills have you developed through your education, work experience, or other activities? Think about how those skills could be applied in different careers.</li>

<li><b>Consider your values:</b> What is important to you? Do you value helping others, making a positive impact on society, or earning a high salary? Understanding your values can help you identify careers that align with your priorities.</li>

<li><b>Assess your personality:</b> What kind of work environment do you thrive in? Are you outgoing and enjoy working with others, or do you prefer working independently? Consider how your personality traits might influence your career choices.</li>
</ul>
{% endblock content %}