{% extends 'job_app/career_advise_base.html' %}


{% block title %}
Resume and Cover Letter Writing
{% endblock title %}

{% block content %}

{% load static %}
<h1 class="text-center">Resume and Cover Letter Writing</h1>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-block mx-auto">
            <img src="{% static 'job_app/images/resume.jpg' %}" alt="Man writing resume." class="img-fluid">
        </div>
    </div>
</div>
<br>
<p>Creating effective resumes and cover letters is essential for landing job interviews. Here are some tips to help you create compelling job application materials:</p>
<ul>
<li><b>Tailor your materials:</b> Customize your resume and cover letter for each job you apply to. This can help you highlight the skills and experience that are most relevant to the position.</li>

<li><b>Highlight achievements:</b> Use concrete examples to demonstrate your achievements and the impact you've had in your previous roles.</li>

<li><b>Keep it concise:</b> Your resume and cover letter should be concise and easy to read. Use bullet points and clear formatting to make your materials easy to scan.</li>

<li><b>Proofread:</b> Check your materials for typos and errors before submitting them. Errors can make a negative impression on potential employers.</li>
</ul>
{% endblock content %}