{% extends 'job_app/footer_only_no_logo_base.html' %}
{% block content %}
{% if job.approved == True %}
<br>
<h1 class="text-center">{{ object.name }}</h1>
    <div class="media text-center">
        <img class="rounded" src="{{ job.image.url }}">
    </div class="media-body">
            <br>
    <p>Description: {{ object.description }}</p>
    <p>Location: {{ object.location }}</p>
    <p>Start Date: {{ object.start_date }}</p>
    <p>End Date: {{ object.end_date }}</p>
    <p>Venue: {{ object.venue_name }}</p>
    <p>Venue Postcode: {{ object.venue_postcode }}</p>
    <p>Venue Country: {{ object.venue_country }}</p>
    <p>Platform: {{ object.platform }}</p>
    <p>Start Time: {{ object.start_time }}</p>
    <p>End Time: {{ object.end_time }}</p>
    <p>Price: ZMW {{ object.price }}</p>
    <p>Tickets available: {{ object.tickets_available }}</p>
    <p>Tickets sold: {{ object.tickets_sold }}</p>
    <p>{{ job.image.url }}</p>
        <p><a href="#">Buy Ticket</a></p>
    <p><a href="{% url 'job_list' %}">Back to job List</a></p>
            {% if user.is_staff %}
            <p><a href="{% url 'create_job' %}">Create New job</a></p>
            <p><a href="{% url 'edit_job' pk=job.pk %}">Update</a></p>
            <p><a href="{% url 'delete_job' pk=job.pk %}">Delete</a></p>
            {% endif %}
{% else %}
{% if user.is_staff %}
    <br>
    <h1 class="text-center">Job Detail</h1>
    <p>Description: {{ object.description }}</p>
    <p>Location: {{ object.location }}</p>
    <p>Start Date: {{ object.start_date }}</p>
    <p>End Date: {{ object.end_date }}</p>
    <p>Venue: {{ object.venue_name }}</p>
    <p>Venue Postcode: {{ object.venue_postcode }}</p>
    <p>Venue Country: {{ object.venue_country }}</p>
    <p>Platform: {{ object.platform }}</p>
    <p>Start Time: {{ object.start_time }}</p>
    <p>End Time: {{ object.end_time }}</p>
    <p>Price: ZMW {{ object.price }}</p>
    <p>Tickets available: {{ object.tickets_available }}</p>
    <p>Tickets sold: {{ object.tickets_sold }}</p>
    <p>{{ job.image.url }}</p>
        <p><a href="#">Buy Ticket</a></p>
    <p><a href="{% url 'job_list' %}">Back to Job List</a></p>
    <p><a href="{% url 'create_job' %}">Create New Job</a></p>
    <p><a href="{% url 'edit_job' pk=job.pk %}">Update</a></p>
    <p><a href="{% url 'delete_job' pk=job.pk %}">Delete</a></p>
{% else %}
    <h2 class="text-center">You are not authorized to view this page.</h2>
{% endif %}
{% endif %}
{% endblock %}