{% extends 'job_app/footer_only_no_logo_base.html' %}

{% block head %}
<meta name="description" content="This job expires on {{ object.closing_date}}. Apply now!">
{% endblock %}

{% block content %}

<p class="text-center">
    <a href="{% url 'job_list_admin_panel' %}">Your posts</a>&nbsp;
    <a href="{% url 'create_job' %}">Create new job</a>&nbsp;
    <a href="{% url 'edit_job' pk=job.pk %}">Edit job</a>&nbsp;
    <a href="{% url 'delete_job' pk=job.pk %}">Delete job</a>&nbsp;
  </p>

{% if job.status == True %}
<br>
<h1 class="text-center">{{ object.job_title }}</h1>
    <div class="media text-center">
        <img class="rounded" src="{{ job.logo.url }}">
    </div class="media-body">
    <br>
    <p><b>Job title:</b> {{ object.job_title }}</p>
    <p><b>Post date:</b> {{ object.post_date }}</p>
    <p><b>Closing date:</b> {{ object.closing_date }}</p>
    <p><b>Location:</b> {{ object.get_location_display }}</p>
    <p><b>Country:</b> {{ object.get_country_display }}</p>
    <p><b>Organisation:</b> {{ object.organisation }}</p>
    <br>
     {{ object.details|safe }}
     <p class="text-center">
        <a href="{% url 'job_list_admin_panel' %}">Your jobs</a>&nbsp;
        <a href="{% url 'create_job' %}">Create new job</a>&nbsp;
        <a href="{% url 'edit_job' pk=job.pk %}">Edit job</a>&nbsp;
        <a href="{% url 'delete_job' pk=job.pk %}">Delete job</a>&nbsp;
      </p>
{% else %}
    <h2 class="text-center ">You are not authorized to view this page.</h2>
{% endif %}
{% endblock %}