{% extends 'job_app/footer_only_no_logo_base.html' %}

    {% block title %}
    <title>Your posts</title>
    {% endblock title %}
    
    {% block content %}

    <h1 class="text-center">Your posts</h1>

    <small><p class="text-center"><a href="{% url 'create_job' %}">[ Post a job ]</a></p></small>
    


<!-- begin filter -->
<form method="GET" action="{% url 'job_list' %}">
  <select name="location">
    <option value="">All Locations</option>
    {% for location in locations %}
      <option value="{{ location.value }}">{{ location.label }}</option>
    {% endfor %}
  </select>
  <button type="submit">Filter</button>
</form>
<!-- end filter -->

<br>

    <!-- begin top pagination -->
    <div class="pagination">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a> &nbsp;
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
    
      <span class="current">
        &nbsp;   Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
    
      {% if page_obj.has_next %}
      &nbsp; <a href="?page={{ page_obj.next_page_number }}">next</a>&nbsp;
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
    <br>
    </div>
    <!--end top pagination-->
    
<!-- begin list template -->
<br>

  {% for object in page_obj %}

<div class="list-group">
    <a href="{% url 'job_detail_admin_panel' pk=object.id %}" class="list-group-item list-group-item-action" aria-current="true">
   
      
      {% if object.posted_today  %}
      <p class="text-warning"><small>
      New  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
      </svg>
    </small></p>
                {% else %}
                <p><small>
                Posted {{object.get_x_days_ago }} days ago.
              </small></p>
                {% endif %}
      
      
      
    
  
 

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> {{object.job_title}}</h5> 
        
      
      </div>
      <p><b>Employment type:</b> {{object.get_employment_type_display}}<br>
      <b>Location:</b> {{object.get_location_display}}<br>
      <b>Country:</b> {{ object.get_country_display }}<br>
      <b>Organisation:</b> {{object.organisation | capfirst}}<br>
      <b>Posted by:</b> {{object.user | capfirst }}<br>
    
        {% if object.is_closed  %}
          <b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-danger">Closed</span></p>
        {% else %}
              
                {% if object.closing_soon  %}
                <b>Closing date:</b> <mark>{{object.closing_date}}</mark> <span class="badge text-bg-warning">Closing soon</span></p>
                {% else %}
                <b>Closing date:</b> {{object.closing_date}} <span class="badge text-bg-success">Available</span></p>
                {% endif %}
          {% endif %}
        </div>
    </a>

 <!-- end list template -->
    
    <hr>
    {% empty %}
    
    {% load static %}
    <p class="text-center">Oops...no jobs to show.</p> 
    <div class="text-center" class="img-fluid" alt="Responsive image">
      <img src="{% static 'job_app/images/no_entries.png' %}" alt="Error message" width="200" height="200">
    </div>
    {% endfor %}
    
    <!-- begin bottom pagination -->
    
    <p class="text-center">
    <div class="pagination">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a> &nbsp;
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
    
          <span class="current">
            &nbsp;  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
    
          {% if page_obj.has_next %}
          &nbsp; <a href="?page={{ page_obj.next_page_number }}">next</a>&nbsp;
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
    <!-- end bottom pagination -->
    
    
    <br>
    
    {% endblock content %}
    
    
    
    