{% extends 'job_app/footer_only_no_logo_base.html' %}
{% block content %}
{% if job.approved == True %}
<br>
<h1 class="text-center">{{ object.job_title }}</h1>
    <div class="media text-center">
        <img class="rounded" src="{{ job.logo.url }}">
    </div class="media-body">
    <br>
    <p>Job title: {{ object.job_title }}</p>
    <p>Post date: {{ object.post_date }}</p>
    <p>Closing date: {{ object.closing_date }}</p>
    <br>
     {{ object.details|safe }}
     <p class="text-center">
        <a href="{% url 'job_list' %}">Back to job list</a>&nbsp;
        <a href="{% url 'create_job' pk=job.pk %}">Create new job</a>&nbsp;
        <a href="{% url 'edit_job' pk=job.pk %}">Edit job</a>&nbsp;
        <a href="{% url 'delete_job' pk=job.pk %}">Delete job</a>&nbsp;
      </p>
{% else %}
{% if user.is_staff %}
    <br>
    <h1 class="text-center">{{ object.job_title }}</h1>
    <div class="media text-center">
        <img class="rounded" src="{{ job.logo.url }}">
    </div class="media-body">
    <p>Post date: {{ object.post_date }}</p>
    <p>Closing date: {{ object.closing_date }}</p>
    <br>
   {{ object.details|safe}}
    <p>{{ job.logo.url }}</p>
        <p><a href="#">Buy Ticket</a></p>
    <p><a href="{% url 'job_list' %}">Back to Job List</a></p>
    <p><a href="{% url 'create_job' %}">Create New Job</a></p>
    <p><a href="{% url 'edit_job' pk=job.pk %}">Update</a></p>
    <p><a href="{% url 'delete_job' pk=job.pk %}">Delete</a></p>
{% else %}
    <h2 class="text-center">You are not authorized to view this page.</h2>
{% endif %}
{% endif %}
{% endblock %}